*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panolens-container {
  width: 100%;
  height: 100%;
}
.popup {
  position: fixed;
  top: 40%;
  left: 50px;
  transition: 2s;
  z-index: 999;
}
.popup_inner {padding: 0;
}
.popup .btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  width: 30px;
}
.video {
  width: 100%;
  height: 100%;
}