*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panolens-container {
  width: 100%;
  height: 100%;
}
/* 로봇 인포메이션 */
.main-info {
  animation-name: disappear;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@keyframes disappear {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.robot {
  scale: 0.3;
  position: absolute;
  top: -20ch;
  left: 10%;
  transform: translateX(-50%);
  z-index: 2;
  animation-name: fade, bounce; 
  animation-duration: 1s, 2s; 
  animation-delay: 0s, 1s;
  animation-iteration-count: 1, infinite;
}
@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes bounce {
  0%{scale:0.3;}
  50%{scale:0.32;}
  100%{scale:0.3;}
}

.main-info .robot_chat {
    width: 40%;
    height: 40%;
    border-radius: 20px;
    padding: 3%;
    color: #fff;
    background-color: rgb(29 77 91 / 80%);
    border: 2px solid white;
    position: absolute;
    top: 25vh;
    left: 30%;
    line-height: 2;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
.typing-txt {color: #fff;}
.skip-btn {
  position: absolute;
  bottom: 5%;
  left: 45%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  opacity: 70%;
  border-style: none;
  background: none;
  cursor: pointer;
}
.skip-btn p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.skip-btn img {width: 20px;}
/* 텍스트 타이핑 효과 */
.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{display:block;}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor { 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
/* 안내판 */
.text {height: 100%;}
.popup .text h2 {margin-bottom: 20px;}
.popup .text h3 {margin-bottom: 15px;}
.nature-img {
  display: flex;
  gap: 10%;
}
.nature-img img {width: 42%;}
/* 물고기 설명 */
.popup .text p {
  color: #fff;
  font-weight: 600;
  line-height: 22px;
}
.fish-img {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  margin: 2% 5%;
  gap: 10%;
}
.fish-img::-webkit-scrollbar {height: 20px;}
.fish-img::-webkit-scrollbar-thumb {
  width: 10%; /* 스크롤바의 길이 */
  background: #fff; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.fish-img::-webkit-scrollbar-track {
  background: rgba(33, 198, 174, 0.2);  /*스크롤바 뒷 배경 색상*/
  border-radius: 10px;
}
/* sound bar */
.btn-sound {
  display: flex;
  align-items: center;
  padding: 2%;
  gap: 5%;
}
.sound-on,.sound-mute {cursor: pointer;}