.video-popup {
  position: fixed;
  top: 40%;
  left: 50px;
  transition: 2s;
  z-index: 999;
}
.video-wrap {padding: 0;
}
.video-wrap .btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  width: 50px;
}
.video {
  width: 100%;
  height: 100%;
}