*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panolens-container {
  width: 100%;
  height: 100%;
}
/* playground3 */
.p3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 0;
}
.popup .text h2 {
  color: #fff;
  margin-bottom: 15px;
}
.popup .text h3 {
  margin-bottom: 10px;
  font-weight: 400;
}
.img-wrap {
  display: flex;
  gap: 5%;
}
.content-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-wrap img {height: 80%;}
.img-wrap img {width: 320px;}
.choice img {width: 10%;}
.print-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50px;
  right: 100px;
  cursor: pointer;
}
.popup .text {
  padding: 0%;
  margin: 0;
}
/* .popup .btn-close {
  width: 50px;
} */
/* 로봇 인포메이션 */
.main-info {
  animation-name: disappear;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@keyframes disappear {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.robot {
  scale: 0.3;
  position: absolute;
  top: -20ch;
  left: 10%;
  transform: translateX(-50%);
  z-index: 2;
  animation-name: fade, bounce; 
  animation-duration: 1s, 2s; 
  animation-delay: 0s, 1s;
  animation-iteration-count: 1, infinite;
}
@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes bounce {
  0%{scale:0.3;}
  50%{scale:0.32;}
  100%{scale:0.3;}
}

.main-info .robot_chat {
    width: 40%;
    height: 40%;
    border-radius: 20px;
    padding: 3%;
    color: #fff;
    background-color: rgb(29 77 91 / 80%);
    border: 2px solid white;
    position: absolute;
    top: 25vh;
    left: 30%;
    line-height: 2;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
.typing-txt {color: #fff;}
.skip-btn {
  position: absolute;
  bottom: 5%;
  left: 45%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  opacity: 70%;
  border-style: none;
  background: none;
  cursor: pointer;
}
.skip-btn p {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
.skip-btn img {width: 20px;}
/* 텍스트 타이핑 효과 */
.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{display:block;}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor { 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
/* 마법놀이 */
.ball-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-ball {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding-top: 5%;
}
.sub-ball img:hover {
  border-radius: 50%;
  scale: 1.1;
  box-shadow:       
  0 0 2px 4px #fff,  /* inner white */
  0 0 7px 10px rgba(255,255,255,0.7), /* middle magenta */
  0 0 10px 15px rgba(255,255,255,0.3); /* outer cyan */;
  cursor: pointer;;
}
.hide,.hide2 {
  display: none;
  position: absolute;
  top: 5%;
  left: 2%;
}

/* vr */
.vr-text {height: 100%;}
.vr {
  height: 100%;
  scale: 0.6;
  transform: translateY(-20%);
  animation: bounce2 2s linear infinite;
}
@keyframes bounce2 {
  0%{scale:0.6;}
  50%{scale:0.58;}
  100%{scale:0.6;}
}