.sub-wrap {
  width: 75%;
  height: 100vh;
  margin: 5% auto;
}
.sub-title h2 {font-size: 2.5rem;}
.sub-title p {
  font-size: 1.5rem;
  margin: 2% 0;
}
.game {
  width: 100%;
  height: 85%;
  position: relative;
}
.start-wrap,
.quize-wrap,
.result-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  border: 4px solid #1d1d1d;
  overflow: hidden;
}
.start-wrap>img {
  width: 100%;
  height: 100%;
}
.start { 
  display: block;
  width: 20%;
  text-align: center;
  font-family: '123RF';
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2%;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 5%;
  left: 43%;
  border: 4px solid #1d1d1d;
  animation: bounce 2s linear infinite;
}
.start:hover {
  background-color: #FFDA18;
}
.quize-wrap,
.result-wrap {
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #1d1d1d;
  display: none;
}
.quize1,.quize2,.quize3,.quize4,.quize5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 5%;
}
.quize1, .quize2,.quize3,.quize4,.quize5 h3 {font-size: 2rem;}
.quize2,.quize3,.quize4,.quize5 {display: none;}
.answer {
  width: 80%;
  display: flex;
  gap: 50%;
  justify-content: space-between;
}
.result1, .result2, .result3, .result4, .result5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}
.result1, .result2, .result3, .result4, .result5 p {
  font-size: 2rem;
  font-weight: 800;
}
.result2, .result3, .result4, .result5 {display: none;}
@keyframes bounce {
  0% { transform: scale(0.95);}
  50% { transform: scale(1);}
  100% { transform: scale(0.95);}
}