/* ν—¤λ” */
header{
    width: 100%;
    padding-top: 25px;
    position: relative;
  }
  header h1{
    width: 132px;
    height: 42px;
    margin: 0 auto 20px;
  }
  header i{
    font-size: 2rem;
    position: absolute;
    top: 25px;
    right: 1.5625%;
    margin-top: -9999px;
    cursor: pointer;
  }
  .main_menu{
    width: 750px;
    display: flex;
    margin: 0 auto;
  }
  .main_menu li{
    width: 20%;
    font-weight: 700;
    color: rgba(255,255,255,0.7);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main_menu li:hover{
    color: #fff;
  }
  .login{
    display: flex;
    font-size: 0.875rem;
    position: absolute;
    right: 10px;
    top: 101px;
  }
  .login li a{
    display: block;
    padding: 0 15px;
    color: rgba(255,255,255,0.7);
  }
  .login li:first-child a{
    border-right: 2px solid rgba(255,255,255,0.3);
  }
  .login li:hover a{
    color: #fff;
  }
  
  /* ν‘Έν„° */
  footer{
    width: 100%;
    background-color: #131313;
  }
  .footer{
    padding: 40px 0;
    display: flex;
    color: #9A9A9A;
    align-items: center;
  }
  .footer div{
    flex-grow: 1;
    width: 33.3%;
  }
  .footer a{
    display: block;
    max-width: 190px;
  }
  .company p,.tel p{
    font-weight: 400;
    margin-bottom: 12px;
  }
  .company p b{
    margin-right: 24px;
    color: #C8C8C8;
  }
  .company p:last-child{
    margin-bottom: 0;
  }